# Build outputs - temporary project created by gw_sh
project/
build/
handoff/
rtl_iv/
.slang/local
devcontainer-lock.json

# Analysis tool setups.
*.dwf3logic
*.dwf3work
*.pvs

# TB trace outputs
*.fst
*.log









